<app-topnav></app-topnav>
<div class="profilo-associato">
  <div class="fascia-colorata">
  <div class="col-md-2"></div>
  <div class="col-md-1">
    <a routerLink='/ricerca' routerLinkActive='active'><i class="fas fa-arrow-left 2x"></i></a>
  </div>
  <div class="col-md-1">
    <img src="assets/img/person3.jpg" alt="avvocato" class="clip-circle">
  </div>
  <div class="col-md-2">
    <p class="nome-associato">Carla Colotti</p>
    <p>Associato dal 20 Febbraio 2019</p>
  </div>
    <div class="col-md-4">
    </div>
</div>
</div>
<div class="pagina-competenze-ass">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="nav navbar-nav ">
               <li><a class="link-info" routerLink='/profilo-ass-info' routerLinkActive='active'>Informazioni</a></li>
               <li><a class="link-info black" routerLink='/profilo-ass-competenza' routerLinkActive='active'>Competenza</a></li>
               <li><a class="link-info"routerLink='/profilo-ass-feed' routerLinkActive='active'>Feedback</a></li>
          </ul>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="contenuto-competenze-ass margin1" id="profilo-competenza">
      <h3><i class="fas fa-university"></i> Formazione</h3>
      <ul>
        <li>Laurea presso Università degli studi di Padova</li>
        <li>altro titolo di studio</li>
      </ul>
      <h3><i class="fas fa-briefcase margin1"></i> Esperienze</h3>
      <ul>
        <li>Esperienza 1</li>
        <li>Esperienza 2</li>
      </ul>
    </div>
  </div>
</div>

</div>

