<div class="associato-dash">
		<div class="container">
				<div class="row">
				<div class="col-md-2">
				<img src="img/image-circle.png" alt="profilo">
				</div>
				<div class="col-md-3">
					<p class="nome-associato">Carla Colotti</p>
				<p>Associato dal 20 Febbraio 2019</p>
				</div>
				<div class="col-md-7"></div>
				</div>
			<div class="row">
				<ul class="nav navbar-nav ">
                   	<li><a class="link-info " href="associato.html">Informazioni</a></li>
                   	<li><a class="link-info " href="associato-competenze.html">Competenza</a></li>
                   	<li><a class="link-info black" href="associato-feedback.html">Feedback</a></li>
					<li><a class="link-info" href="associato-messaggi.html">Messaggi</a></li>
            	</ul>
			</div>
				<hr>
			<div id="box-dash-feed">
				<div class="row">
					<div class="col-md-12">
						<p>Vedi i feedback dei tuoi clienti. AMT ha accesso a tutti i feedback per garantire la qualità del servizio.</p>
						<div class="scatola1">
						<table class="table table-striped">
						  <thead>
							<tr>
							  <th scope="col">NOME</th>
							  <th scope="col">EMAIL</th>
							  <th scope="col">DATA</th>
							  <th scope="col">MESSAGGIO</th>
								<th scope="col">VOTO</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">Vanessa Bevilacqua</th>
							  <td>vanessab@gmail.com</td>
							  <td>10 Agosto 2019</td>
								<td></td>
							  <td>4<i class="fas fa-star"></i></td>
							</tr>
							<tr>
							  <th scope="row">Giulio Cesare</th>
							  <td>giuliocesare@gmail.com</td>
							  <td>10 Agosto 2019</td>
								<td></td>
							  <td>3<i class="fas fa-star"></i></td>
							</tr>
							<tr>
							  <th scope="row">Sabrina Rossi</th>
							  <td>sabrinarossi@gmail.com</td>
							  <td>10 Agosto 2019</td>
								<td></td>
							  <td>3<i class="fas fa-star"></i></td>
							</tr>
						  </tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>