<app-topnav></app-topnav>

<div class="uk-container uk-padding-small uk-width-2-3@l uk-width-3-4@s">

    <div>
        <hr class="uk-divider-vertical">
    </div>

    <div>

        <h1 class="customfont uk-heading-primary">
            Associazione <br> Mediatori <br> Trasformativi
        </h1>

        <hr>

        <h3 class="customfont">
              AMT  opera come associazione professionale di categoria che rappresenta i mediatori ‘trasformativi’ operanti in Italia.
        </h3>

        <p class="raleway">
            Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
            In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.

            AMT è strutturata come associazione di diritto italiano (artt. 14 ss. Cod. civile) in modo relativamente semplice: soci possono essere – senza discriminazione di sorta - tutti coloro che operano (o intendono operare) in conformità al modello trasformativo sopra citato. I soci riuniti in assemblea – conformemente a quanto previsto in Statuto - determinano democraticamente le politiche generali dell’associazione e ne eleggono alle scadenze previste il Presidente e gli organi gestionali (e cioè il Consiglio Direttivo ed il Comitato Scientifico, entrambi composti da 2 a 16 membri). Vedi qui atto costitutivo e Statuto in vigore.
        </p>

        <h2 class="customfont">Come funziona?</h2>
        <p class="raleway">
          Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
          In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.
        </p>

        <h2 class="customfont">Quanto costa?</h2>
        <p class="raleway">
            Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
            In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.
        </p>

        <h2 class="customfont">F.A.Q</h2>

        <ul uk-accordion="multiple: true" class="">
            <li class="uk-open uk-background-muted uk-padding-small">
                <a class="uk-accordion-title" href="#">Prima domanda ciao ciao?</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li class="uk-background-muted uk-padding-small">
                <a class="uk-accordion-title" href="#">Item 2</a>
                <div class="uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li class="uk-background-muted uk-padding-small">
                <a class="uk-accordion-title" href="#">Item 3</a>
                <div class="uk-accordion-content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
            </li>
        </ul>


        <hr class="uk-margin-medium">

        <button class="uk-button uk-button-secondary uk-align-center uk-margin-large-bottom">Contattaci</button>
    </div>


</div>

