.associati {
    padding: 80px 0;
    }
    .margin1{
        margin-top: 10%;
    }
    .box{
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
       padding-top: 25px;
       margin-top: 60px;
       padding-bottom: 30px;
   }
   .box img{
       width: 360px;
       height: 230px;
   }
   .box p{
       padding:0px 8px;
   
   }
   .box strong{
       font-size: 22px;
       margin-bottom: 0px;
   }
   .box a{
       padding-left: 20px;
       text-align: center;
   }
   .box .svg-inline--fa{
       padding-right: 8px;
       font-size: 30px;
       float: right;
   }
   .btn-default{
       border: #ccc;
       padding: 10% 26%;
       border-radius: 0 10px 10px 0;
       background-color: #0092ac;
       margin: 0px -44%;
     
   }
   .form-control{
       border-radius: 10px 0 0 10px ;
   }

  a i{
    padding-right: 8px;
    font-size: 30px;
    float: right;
  }