<div class="associato-dash">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				<img src="img/image-circle.png" alt="profilo">
				</div>
				<div class="col-md-3">
					<p class="nome-associato">Carla Colotti</p>
				<p>Associato dal 20 Febbraio 2019</p>
				</div>
				<div class="col-md-7"></div>
			</div>
			<div class="row">
				<ul class="nav navbar-nav ">
                   	<li><a class="link-info black" href="associato.html">Informazioni</a></li>
                   	<li><a class="link-info " href="associato-competenze.html">Competenza</a></li>
                   	<li><a class="link-info" href="associato-feedback.html">Feedback</a></li>
					<li><a class="link-info" href="associato-messaggi.html">Messaggi</a></li>
            	</ul>
			</div>
				<hr>
			<div id="box-dash">
				<div class="row">
					<div class="col-md-12">
						<form action="#" method="post">
						<div class="boxered">
								<div class="col-md-12 scatola1">
								<h5>Informazioni personali</h5>
									<div class="row">
										<div class="col-md-12">
										<input type="name" class="form-control" placeholder="Nome">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">		
										<input type="text" class="form-control" name="phone" placeholder="Telefono">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
										<input type="email" class="form-control" name="" placeholder="Email">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<input type="text" class="form-control" name="Provincia"  placeholder="Provincia">
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control" name="Città"  placeholder="Città">
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control" name="Cap"  placeholder="Cap">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
										<input type="text" class="form-control" name="Indirizzo" placeholder="Indirizzo">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
										<input type="text" class="form-control" name="Codice Fiscale" placeholder="Codice Fiscale">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<a href="#">Modifica Password</a>
										</div>
									</div>
								</div>
						</div>
						<div class="boxered">
								<div class="col-md-12 scatola1">
									<h5>Altre Informazioni</h5>
									<div class="row">
										<div class="col-md-6">
											<input type="text" name="fees" class="form-control" placeholder="Le tue fees">
										</div>
										<div class="col-md-6">
											<input type="text" name="lingue" class="form-control" placeholder="Lingue">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<input type="text" name="descrizione" class="form-control" placeholder="Descrizione">
										</div>
									</div>
								</div>
						</div>
						<div class="boxered">
							<div class="col-md-12 scatola1">
								<h5>Pagamenti fees annuali</h5>
								<p>Scadenza della fee annuale prevista per il 1 Ottobre 2019. In caso di mancato pagamento il tuo profilo sarà oscurato dai risultati di ricerca.</p>
								<a href="#">vedi i tuoi metodi di pagamento</a>
								<div class="row">
									<div class="col-md-12">
									<p>Pagamento 1 Ottobre 2018</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<input type="date" name="data" class="form-control" placeholder="Data">
									</div>
									<div class="col-md-6">
										<input type="text" name="scadenza" class="form-control" placeholder="Scadenza">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<input type="text" name="" class="form-control" placeholder="pagato con">
									</div>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
