<app-topnav></app-topnav>
<div class="profilo-associato">
  <div class="fascia-colorata">
  <div class="col-md-2"></div>
  <div class="col-md-1">
    <a href="ricerca-associati.html"><i class="fas fa-arrow-left 2x"></i></a>
  </div>
  <div class="col-md-1">
    <img src="assets/img/person3.jpg" alt="avvocato" class="clip-circle">
  </div>
  <div class="col-md-2">
    <p class="nome-associato">Carla Colotti</p>
    <p>Associato dal 20 Febbraio 2019</p>
  </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
<div class="pagina-feed-ass">
<div class="container">
  <div class="row">
      <div class="col-md-8">
      <ul class="nav navbar-nav ">
          <li><a class="link-info" routerLink='/profilo-ass-info' routerLinkActive='active'>Informazioni</a></li>
          <li><a class="link-info " routerLink='/profilo-ass-competenza' routerLinkActive='active'>Competenza</a></li>
          <li><a class="link-info black"routerLink='/profilo-ass-feed' routerLinkActive='active'>Feedback</a></li>
          </ul>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-8">
  <h2 class="page-header">Commenti</h2>
    <section class="comment-list" id="contenuto-feed">
      <!-- First Comment -->
      <article class="row">
        <div class="col-md-2 col-sm-2 hidden-xs">
          <figure class="thumbnail">
            <img class="img-responsive" src="assets/img/image-circle.png" />
          </figure>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="panel panel-default arrow left">
            <div class="panel-body">
              <header class="text-left">
                <div class="comment-user"><i class="fa fa-user"></i> Nome Cognome</div>
                <time class="comment-date" datetime="16-12-2014 01:05"><i class="far fa-clock"></i> 20 Agosto 2019</time>
              </header>
              <div class="comment-post">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
</div>

  </div>
</div>
</div>

