<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand navbar-brand-centered">
    <img src="img/logo.png" href="index.html" alt="logo-amt" width="160" height="65" style="margin: 0 auto;">
    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="">
           
           
     <button type="button" class="buttonuser2">
      <a href="#"><i class="fas fa-bell"></i></a>
    </button>
            <button type="button" class="buttonuser">
                <a href="#" ><img src="img/image-circle.png" alt="user" width="50px" height="50px" class="margin-circle"></a>
            </button>
   </div>
</div><!-- /.container-fluid -->
</nav>
<div class="clearfix"></div>
<div class="associato-dash">
<div class="container">
  <div class="row">
    <ul class="nav navbar-nav ">
      <li><a class="link-info " href="admin-utenti.html">Utenti</a></li>
                 <li><a class="link-info  " href="admin-associati.html">Associati</a></li>
                 <li><a class="link-info black" href="admin-articoli.html">Articoli</a></li>
                 <li><a class="link-info " href="admin-feedback.html">Feedback</a></li>
      <li><a class="link-info" href="admin-messaggi.html">Messaggi</a></li>
          </ul>
  </div>
    <hr>
</div>
</div>
<div id="dash-articoli-admin">
  <div  class="container">
				<div class="row">
					<div class="col-md-12">
						
						<div class="scatola1">
						<table class="table table-striped">
						  <thead>
							<tr>
							  <th scope="col">TITOLO</th>
							  <th scope="col">IMMAGINE</th>
								<th scope="col">DATA</th>
							  <th scope="col">DESCRIZIONE</th>
								<th scope="col">AZIONI</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">ARTICOLO 1</th>
							  <td><img src="assets/img/news1.jpg" alt="articolo1"></td>
								<td>10 Agosto 2019</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing...</td>
							  <td><i class="fas fa-plus-circle" style="margin-right: 10px;"></i> <i class="fas fa-times-circle"></i></td>
							</tr>
							 <tr>
							  <th scope="row">ARTICOLO 1</th>
							  <td><img src="assets/img/news1.jpg" alt="articolo1"></td>
								<td>10 Agosto 2019</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing...</td>
							  <td><i class="fas fa-plus-circle"  style="margin-right: 10px;" alt="aggiungi"></i> <i class="fas fa-times-circle"></i></td>
							</tr>
							  <tr>
							  <th scope="row">ARTICOLO 1</th>
							  <td><img src="assets/img/news1.jpg" alt="articolo1"></td>
								<td>10 Agosto 2019</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing...</td>
							  <td><i class="fas fa-plus-circle"  style="margin-right: 10px;"></i> <i class="fas fa-times-circle"></i></td>
							</tr>
						  </tbody>
						</table>
						</div>
						
						</div>
					
          </div>
    </div>
	</div>
			

