<app-topnav></app-topnav>
<div id="LoginForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
    <div class="login-form">
    <div class="main-div">
      <div class="pannel">
        
         <p>Benvenuto,<br>
        effettua il login per continuare<br>
           su AMT</p>
       </div>
      <form id="Login" (ngSubmit)='login()' >
        <div class="form-group">
          <span>
          <i class="fas fa-envelope"></i></span>
          <input type="email"  class="form-control-login b" id="inputEmail" placeholder="Email" name='email' [(ngModel)]='utente.email' >
          
        </div>
        <div class="form-group">
          <i class="fas fa-lock"></i>
          <input type="password" class="form-control-login" id="inputPassword" placeholder="Password" name='password' [(ngModel)]='utente.password'>
        </div>
        
        <button type="submit" class="btnlogin">Login</button><i class="fas fa-angle-right fa-2x"></i>
        <div class="forgot">
        <a routerLink='/reset' routerLinkActive='active'>Forgot password?</a>
          <hr>
        <p>Non sei ancora registrato? <a routerLink='/registrazione' routerLinkActive='active'>Registrati</a></p>
        </div>
      </form>
    </div>
    </div>
    
    </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
