<app-topnav></app-topnav>

<div class="registra">
  <div class="container">
    <h1>Benvenuto,<br> registrati per ottenere i vantaggi di AMT.</h1>
    <a href="#">scopri i vantaggi</a>
    <div class="md-stepper-horizontal">
      <div class="md-step active">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">Seleziona il tuo ruolo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step ">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Inserisci informazioni</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step ">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Completa registrazione</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      </div>
    <div class="scatola">
      <form>
       <fieldset>
          <legend>Il mio ruolo è</legend>
            <select name="siti" class="btnlogin" >
               <option value="associato" selected="selected">Associato </option>
               <option value="consulente">Consulente  </option>
               <option value="lorem ipsum">lorem ipsum </option>
            </select>
       </fieldset>
      </form>
    </div>
    <button type="submit" class="btnlogin"><a routerLink='/registra-info' routerLinkActive='active'>Continua</a></button><i class="fas fa-angle-right fa-2x"></i>
  </div>
</div>


