<div class="associato-dash">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				<img src="img/image-circle.png" alt="profilo">
				</div>
				<div class="col-md-3">
					<p class="nome-associato">Carla Colotti</p>
				<p>Associato dal 20 Febbraio 2019</p>
				</div>
				<div class="col-md-7"></div>
			</div>
				<div class="row">
				<ul class="nav navbar-nav ">
                   	<li><a class="link-info " href="associato.html">Informazioni</a></li>
                   	<li><a class="link-info " href="associato-competenze.html">Competenza</a></li>
                   	<li><a class="link-info" href="associato-feedback.html">Feedback</a></li>
					<li><a class="link-info black" href="associato-messaggi.html">Messaggi</a></li>
            	</ul>
			</div>
				<hr>
        <div id="dash-feed-admin">
            <div class="row">
              <div class="col-md-12">
                
                <div class="scatola1">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">NOME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">DATA</th>
                    <th scope="col">NOTIFICA</th>
                    <th scope="col">MESSAGGIO</th>
                    <th scope="col">AZIONI</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Valeria Colli</th>
                    <td>valeriacolli@gmail.com</td>
                    <td>10 Agosto 2019</td>
                    <td>ha aggiunto un messaggio</td>
                    <td>ho avuto un esperienza positiva perchè...</td>
                    <td><i class="fas fa-check" style="margin-right: 10px;"></i> <i class="fas fa-times-circle"></i></td>
                  </tr>
                    <tr>
                    <th scope="row">Valeria Colli</th>
                    <td>valeriacolli@gmail.com</td>
                    <td>10 Agosto 2019</td>
                    <td>ha aggiunto un messaggio</td>
                    <td>ho avuto un esperienza positiva perchè...</td>
                    <td><i class="fas fa-check" style="margin-right: 10px;"></i> <i class="fas fa-times-circle"></i></td>
                  </tr>
                    <tr>
                    <th scope="row">Valeria Colli</th>
                    <td>valeriacolli@gmail.com</td>
                    <td>10 Agosto 2019</td>
                    <td>ha aggiunto un messaggio</td>
                    <td>ho avuto un esperienza positiva perchè...</td>
                    <td><i class="fas fa-check" style="margin-right: 10px;"></i> <i class="fas fa-times-circle"></i></td>
                  </tr>
                  </tbody>
                </table>
                </div>
                
                </div>
              
              </div>
            </div>
			
			
			
			
		</div>
	</div>