
<app-topnav></app-topnav>
<div class="newspage">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a routerLink="/"><i class="fas fa-arrow-left 2x"></i></a>
      </div>
      <div class="col-md-8">
        <h1>Titolo Articolo</h1>
        <img src="assets/img/news1.jpg" alt="news1">
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fugit assumenda, voluptatum ipsa non pariatur</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur blanditiis, maxime quis ut voluptatem, laborum magni facere sint! Repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tenetur eum aut eos, explicabo expedita error laboriosam accusamus corrupti voluptatum saepe, voluptatibus commodi recusandae corporis enim hic, a ratione delectus quos soluta! Ipsam, nostrum, amet! Blanditiis quam, a placeat quidem voluptatibus mollitia suscipit illum officia accusantium consectetur, dignissimos illo, rerum.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur blanditiis, maxime quis ut voluptatem, laborum magni facere sint! Repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tenetur eum aut eos, explicabo expedita error laboriosam accusamus corrupti voluptatum saepe, voluptatibus commodi recusandae corporis enim hic, a ratione delectus quos soluta! Ipsam, nostrum, amet! Blanditiis quam, a placeat quidem voluptatibus mollitia suscipit illum officia accusantium consectetur, dignissimos illo, rerum.</p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  </div>
