<app-topnav></app-topnav>
<div class="associato-dash">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				<img src="img/image-circle.png" alt="profilo">
				</div>
				<div class="col-md-3">
					<p class="nome-associato">Carla Colotti</p>
				<p>Associato dal 20 Febbraio 2019</p>
				</div>
				<div class="col-md-7"></div>
			</div>
			<div class="row">
				<ul class="nav navbar-nav ">
                   	<li><a class="link-info " href="#">Informazioni</a></li>
                   	<li><a class="link-info black" href="#">Competenza</a></li>
                   	<li><a class="link-info" href="#">Feedback</a></li>
					<li><a class="link-info" href="#">Messaggi</a></li>
            	</ul>
			</div>
				<hr>
			<div id="box-dash-competenze">
				<div class="row">
				<div class="col-md-12">
			<p>Inserisci tutte le esperienze utili alla tua valutazione, saranno visibili nel tuo profilo.</p>
			
					<h4>Formazione</h4>
					<div class="row">
						<div class="boxered">
						<div class="col-md-12 scatola1">
							<input type="text" class="form-control" name="formazione" placeholder="Laurea presso Università degli studi di Padova">
						</div>
						</div>
					</div>
					<div class="row">
						<div class="boxered">
						<div class="col-md-12 scatola1">
						<h5>Inserisci una nuova Formazione</h5>
							<div class="row">
								<div class="col-md-6">
									<input type="text" name="da" class="form-control" placeholder="da">
								</div>
								<div class="col-md-6">
									<input type="text" name="" class="form-control" placeholder="a">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="text" name="titolo" class="form-control" placeholder="Titolo">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="text" name="descrizione" class="form-control" placeholder="Descrizione">
								</div>
							</div>
						</div>
						</div>
						<button class="btnlogin">Aggiungi <i class="fas fa-plus-circle"></i></button>
						<h4>Esperienza</h4>
						<div class="boxered">
							<div class="col-md-12 scatola1">
								<h5>Inserisci una nuova Esperienza</h5>
										<div class="row">
											<div class="col-md-6">
												<input type="text" name="da" class="form-control" placeholder="da">
											</div>
											<div class="col-md-6">
												<input type="text" name="" class="form-control" placeholder="a">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="text" name="titolo" class="form-control" placeholder="Titolo">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="text" name="descrizione" class="form-control" placeholder="Descrizione">
											</div>
										</div>
									
							</div>
						
						</div>
						<button class="btnlogin">Aggiungi <i class="fas fa-plus-circle"></i></button>
					
					</div>
				 </div>
				</div>
			</div>
		</div>
	</div>
	
	
	