<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-centered">
      <img src="/assets/img/logo.png" href="index.html" alt="logo-amt" width="160" height="65" style="margin: 0 auto;">
      </div>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="">
             
             
       <button type="button" class="buttonuser2">
        <a href="#"><i class="fas fa-bell"></i></a>
      </button>
              <button type="button" class="buttonuser">
                  <a href="#" ><img src="/assets/img/image-circle.png" alt="user" width="50px" height="50px" class="margin-circle"></a>
              </button>
     </div>
  </div><!-- /.container-fluid -->
  </nav>
  <div class="clearfix"></div>
<div class="associato-dash">
		<div class="container">
	
			<div class="row">
				<ul class="nav navbar-nav ">
                   	<li><a class="link-info " routerLink='/associato-info'>Informazioni</a></li>
                   	<li><a class="link-info black" routerLink='/associato-competenze'>Competenza</a></li>
                   	<li><a class="link-info" routerLink='/associato-feedback'>Feedback</a></li>
					          <li><a class="link-info" routerLink='/associato-messaggi'>Messaggi</a></li>
            	</ul>
			</div>
				<hr>
			<div id="box-dash-competenze">
				<div class="row">
				<div class="col-md-12">
			<p>Inserisci tutte le esperienze utili alla tua valutazione, saranno visibili nel tuo profilo.</p>
			
					<h4>Formazione</h4>
					<div class="row">
						<div class="boxered">
						<div class="col-md-12 scatola1">
							<input type="text" class="form-control" name="formazione" placeholder="Laurea presso Università degli studi di Padova">
						</div>
						</div>
					</div>
					<div class="row">
						<div class="boxered">
						<div class="col-md-12 scatola1">
						<h5>Inserisci una nuova Formazione</h5>
							<div class="row">
								<div class="col-md-6">
									<input type="text" name="da" class="form-control" placeholder="da">
								</div>
								<div class="col-md-6">
									<input type="text" name="" class="form-control" placeholder="a">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="text" name="titolo" class="form-control" placeholder="Titolo">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input type="text" name="descrizione" class="form-control" placeholder="Descrizione">
								</div>
							</div>
						</div>
						</div>
						<button class="btnlogin">Aggiungi <i class="fas fa-plus-circle"></i></button>
						<h4>Esperienza</h4>
						<div class="boxered">
							<div class="col-md-12 scatola1">
								<h5>Inserisci una nuova Esperienza</h5>
										<div class="row">
											<div class="col-md-6">
												<input type="text" name="da" class="form-control" placeholder="da">
											</div>
											<div class="col-md-6">
												<input type="text" name="" class="form-control" placeholder="a">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="text" name="titolo" class="form-control" placeholder="Titolo">
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="text" name="descrizione" class="form-control" placeholder="Descrizione">
											</div>
										</div>
									
							</div>
						
						</div>
						<button class="btnlogin">Aggiungi <i class="fas fa-plus-circle"></i></button>
					
					</div>
				 </div>
				</div>
			</div>
		</div>
	</div>
	
	
	