
<app-topnav></app-topnav>
<!--
<div class=bk>
    <div class="uk-container">
        <div class="banner uk-flex">

           <img class="uk-position-center-left" data-src="assets/img/young_girl.jpg" uk-img  width="1100" height="1220">

            <div class="uk-padding-small uk-overlay uk-dark">
                <h1 class="uk-heading-primary customfont">Associazione <br> Mediatori <br> Trasformativi</h1>
                <p class="">AMT  opera come associazione professionale di categoria che rappresenta i mediatori ‘trasformativi’ operanti in Italia.</p>
                <a>Scopri di più</a>
                <br>
                <div class="uk-margin">
                  <form class="uk-search uk-search-default">
                      <span class="uk-search-icon-flip" uk-search-icon></span>
                      <input class="uk-search-input" type="search" placeholder="Search...">
                  </form>
              </div>
            </div>

        </div>
    </div>

</div> -->


  <div class="clearfix"></div>

<div class='container'>

    <div class="corpo">
        <div class="motto">
          <div class="text-justify text-center">
          <h1>Lorem ipsum dolor sit amet.<br> Lorem ipsum dolor.<br> Lorem ipsum.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
        </div>
        <div class="background">
          <img src="assets/img/girlblue.jpg" alt="girl">
          <div id="buttons">
            <a href="#news" target="_self"><button class="btn-default text-center newsbutton">News</button></a>
            <a href="#contatti" target="_self"><button class="btn-default text-center contactbutton" >Contattaci</button></a>
          </div>
        </div>
        <div style="text-align:center">
          <a href="#about-us" target="_self">
            <p class=" rettangolo text-center">About us</p>
          </a>
          <i class="fas fa-angle-down"></i>
        </div>
      </div>

</div>

<div id="about-us">
    <div class="container">
      <h1 class="text-left">Associazione<br>
      Mediatori<br>
      Trasformativi</h1>
      <h3>AMT  opera come associazione professionale di categoria che rappresenta i mediatori ‘trasformativi’ operanti in Italia.</h3>
      <p class="text-left">Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
      In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.

      AMT è strutturata come associazione di diritto italiano (artt. 14 ss. Cod. civile) in modo relativamente semplice: soci possono essere – senza discriminazione di sorta - tutti coloro che operano (o intendono operare) in conformità al modello trasformativo sopra citato. I soci riuniti in assemblea – conformemente a quanto previsto in Statuto - determinano democraticamente le politiche generali dell’associazione e ne eleggono alle scadenze previste il Presidente e gli organi gestionali (e cioè il Consiglio Direttivo ed il Comitato Scientifico, entrambi composti da 2 a 16 membri). Vedi qui atto costitutivo e Statuto in vigore.</p>
      <h3>Come funziona?</h3>
      <p>Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
      In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.</p>
      <h3>Quanto costa?</h3>
      <p>Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
      In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati.</p>
      <h3>F.A.Q</h3>
      <h4>Dfwejnewk fiuewhfew fuewhfiuewf fine domanda 1?</h4>
      <p>Per mediatori trasformativi si intendono coloro che intervengono professionalmente come terzi neutrali, nelle più varie situazioni conflittuali, a supporto dei soggetti coinvolti (persone fisiche singole, organizzazioni, gruppi o intere comunità) strutturando il loro intervento in modo non direttivo e volendosi conformare al modello ‘trasformativo’ promosso dall’Institute for the Study of Conflict Transformation (ISCT) attualmente con sede a Dayton, OH.
      In quanto associazione professionale, AMT intende supportare gli associati nella loro attività come mediatori nonché essere di riferimento per i loro clienti, al fine di assicurare il rispetto di standards qualitativi elevati nei servizi loro erogati</p>
    </div>
    <div style="text-align:center">
      <a href="#contatti">
        <p class="rettangolo text-center">Contattaci</p>
      </a>
    </div>
</div>
<div id="search">
  <div class="container">
    <div class="text-center">
      <h3>Trova un Consulente</h3>
      <p>Hai bisogno di assistenza personalizzata per te, la tua azienda o il tuo istituto scolastico? <br>Trova facilmente il consulente più adatto alle tue esigenze.</p><br>
      <p class="testocerca">Inserisci il nome o il CAP della tua città per trovare un consulente nella tua zona:</p>

      <div class="search-box">
        <input class="search-txt" type="text" placeholder="Provincia o città">
        <a class="search-btn" routerLink="/ricerca" >
        <i class="fas fa-search 1x openclosesearch"></i>
        </a>
      </div>
      <a href="#contatti">
        <p class=" rettangolow text-center">Contattaci</p>
      </a>

    </div>
  </div>
</div>
<section class="home-newsletter" id="news">
  <div class="container">
  <h1>News</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="inputsingolo">
          <p>Iscriviti alla nostra newsletter per restare aggiornato sulle ultime novità</p>
          <form>
          <div class="input-group">
             <input type="email" class="form-control" placeholder="Inserisci la tua email">
             <span class="input-group-btn">
             <button class="btn btn-theme" type="submit">Subscribe</button>
             </span>
          </div>
          </form>
          <div class="newsright">
            <img src="assets/img/baloon.png" alt="baloon">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="newsfeed">
        <div class="col-md-4">
          <div class="box">
            <strong><p>Lorem ipsum</p></strong>
            <img src="assets/img/news1.jpg" alt="news1">
            <p class="margin1">Lorem ipsum dolor sit<br>
              amet, consectetur<br>
              adipisicing elit. Libero soluta<br>
              ex quo quos omnis, pariatur.</p>
            <hr>
            <a routerLink="/news">leggi l'articolo<i class="fas fa-arrow-circle-right"></i></a>

          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
              <strong><p>Lorem ipsum</p></strong>
            <img src="assets/img/news2.jpg" alt="news1">
            <p class="margin1">Lorem ipsum dolor sit<br>
              amet, consectetur<br>
              adipisicing elit. Libero soluta<br>
              ex quo quos omnis, pariatur.</p>
            <hr>
            <a href="news.html">leggi l'articolo <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
              <strong><p>Lorem ipsum</p></strong>
            <img src="assets/img/news3.jpg" alt="news1">
            <p class="margin1">Lorem ipsum dolor sit<br>
              amet, consectetur<br>
              adipisicing elit. Libero soluta<br>
              ex quo quos omnis, pariatur.</p>
            <hr>
            <a routerLink='/news' routerLinkActive='active'>leggi l'articolo <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contatti">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Contattaci</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt deserunt, ducimus excepturi eos quasi amet?</p>
      </div>
      <div class="col-md-6">
        <div class="indirizzi">
          <a class="rettangolo" href="#">info@adrquadra.it</a>
          <a class="rettangolo" href="#">+39 345 456 4567</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="mappa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1425889.6745955034!2d10.740947085685514!3d45.73228261772473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4778d7f1cc04b777%3A0x107098715907c70!2sVeneto!5e0!3m2!1sit!2sit!4v1542045802417" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formcontatto">
           <form action="invia_mail.php" name="contatti" method="post">
            <p>
              <label for="nome">Nome*</label><br>
              <input type="text" name="nome" id="nome" class="form-control">
                <!--obbligatorio id e name-->
            </p>
            <p>
              <label for="email">E-mail*</label><br>
              <input type="text" name="email" id="email" class="form-control " required>
            </p>
          <p>
            <label for="messaggio">Messaggio:*</label><br>
            <textarea name="messaggio" id="messaggio" class="form-control " required></textarea>
          </p>
          <p class="obbliga">NB: I campi con * sono obbligatori</p>
          <div class=" clearfix align-items-center">
            <input type="submit" value="Invia" class="submit">
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
<div id="footer">
  <div class="container">
  <p class="text-center">Ci trovi a Milano in via xjhsvbxjsxb,
    a treviso in via guydhsvbkjc ed<br>
    a Padova in via UYBHcghvj.<br>
    Da Lunedi a Venerdì e dalle 8:00 - 18:00.
  </p>
  </div>
</div>


