<app-topnav></app-topnav>
<div class="signin-page">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="text-center">Completa il tuo profilo</h1>
              <h4 class="text-center">Più informazioni hanno i tuoi potenziali clienti, più possibilità hai di<br>
              essere contattato.</h4>
              <div class="md-stepper-horizontal">
                  <div class="md-step">
                      <div class="md-step-circle"><span>1</span></div>
                      <div class="md-step-title">Seleziona il tuo ruolo</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                  </div>
                  <div class="md-step">
                      <div class="md-step-circle"><span>2</span></div>
                      <div class="md-step-title">Inserisci informazioni</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                  </div>
                  <div class="md-step active">
                      <div class="md-step-circle"><span>3</span></div>
                      <div class="md-step-title">Completa registrazione</div>
                      <div class="md-step-bar-left"></div>
                      <div class="md-step-bar-right"></div>
                  </div>
              </div>
          </div>
      </div><!-- fine title e step -->
<div id="registrazione-completa">
      <div class="row">
          <div class="col-md-12">
              <form action="#" method="post">
                  <div class="row">
                      <div class="col-md-6">
                          <input type="text" class="form-control" name="inserisci1" placeholder="Inserisci le lingue di lavoro">
                      </div>
                      <div class="col-md-6">
                          <input type="text" class="form-control" name="inserisci2" placeholder="Inserisci le tue fees">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <textarea class="form-control" name="descrizione" placeholder="Scrivi una tua breve descrizione"></textarea>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <h2>Pagamento fees annuali</h2>
                          <div class="boxered">
                              <h3><i class="fas fa-credit-card"></i> Carte di credito</h3>
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" name="intestatario" placeholder="Intestatario">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" name="scadenza" placeholder="Scadenza">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <input type="text" class="form-control" name="numerocarta" placeholder="Numero carta">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" name="cvv" placeholder="CVV">
                                  </div>
                                  <div class="col-md-6"></div>
                              </div>
                          </div>
                          <div class="boxered">
                              <h3><i class="fab fa-paypal"></i> PayPal</h3>
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" name="email" placeholder="La tua email">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="password" class="form-control" name="password" placeholder="Password">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Ho letto, compreso ed accetto il <a href="#">regolamento</a> di AMT.<br>
                              Associazione Mediatori Trasformativi.</label>
                          </div>
                      </div>
                      <div class="col-md-3"></div>
                  </div>
        <div class="centered-button">
                  <button type="submit" class="btnlogin"><a routerLink='/profilo-ass-info' routerLinkActive='active'>Continua</a></button><i class="fas fa-angle-right fa-2x "></i>
        </div>
              </form>
            </div>
         </div>
    </div>
</div>
</div>

