.signin-page {
    margin-top: 5%;
}
.signin-page h1 {
    font-size: 36px;
}
.signin-page h4 {
    font-size: 15px;
    line-height: 20px;
}
.signin-page .md-stepper-horizontal {
	display: table;
	width: 100%;
	margin: 0 auto;
	margin-top: 80px; 
    box-shadow: none;
}
.signin-page .md-step:hover {
    background: none;
}
.signin-page .md-step.active .md-step-circle {
    background: #000;
}
.signin-page form {
    margin-top: 5%;
}
.signin-page form .form-control {
    box-shadow: none;
}
.signin-page form .boxered {
    background: #F7F7F7;
    padding: 1% 2%;
    margin-top: 30px;
}
.signin-page form .boxered .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
#registrazione-completa input{
	margin:5% 0;
}

.form-check{
	margin-top:10%;
}
.centered-button{
	text-align: center;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
	margin-top: 80px; 
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:15px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color: #0092AC;
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}


.md-stepper-horizontal .md-step .md-step-circle .done:first-child{
	background-color: #000000;
}


.signin-page .md-stepper-horizontal {
	display: table;
	width: 100%;
	margin: 0 auto;
	margin-top: 80px; 
    box-shadow: none;
}
.signin-page .md-step:hover {
    background: none;
}
.md-step.active .md-step-circle {
    background: #000;
}

/*BOX REGISTRAZIONE1*/

.scatola{
	border: 2px solid #000;
	height: 200px;
	width: 40%;
    margin: 0 auto;
    padding-top: 15px;
    margin-top: 40px;
	line-height: 30px;
}
.btnlogin{
	border: 2px solid #000;
	padding: 5px 30px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.form-control{
	line-height:  4.428571;
	border-radius: 5px;
	background-color: #F7F7F7;
	border: none;
}
